<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wdt.ddshop.dao.TbItemCustomMapper" >

  <sql id="Base_Column_List" >
    i.id, i.title, i.sell_point as sellPoint, i.price,
     i.num, i.barcode, i.image, i.cid, i.status, i.created, i.updated,FORMAT(i.price/100,2) as priceView,
     c.name as catName
  </sql>

  <select id="countItems" resultType="_int">
    select count(1)
    from tb_item i
     WHERE  i.status != 3
  </select>

  <select id="listItemCustomByPage" parameterType="com.wdt.ddshop.common.dto.Page" resultType="com.wdt.ddshop.pojo.vo.TbItemCustom">
    SELECT
    <include refid="Base_Column_List" />
    FROM tb_item i
    LEFT JOIN tb_item_cat c   ON i.cid = c.id
    WHERE  i.status != 3
    ORDER BY i.id DESC
    LIMIT #{offset},#{rows}
  </select>

</mapper>