<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wdt.ddshop.dao.TbItemSearchCustomMapper" >

  <select id="listSearchItem" resultType="com.wdt.ddshop.pojo.vo.TbItemSearchCustom">
     SELECT
    i.id,
    i.title,
    i.sell_point as sellPoint,
    i.price,
    i.image,
    c.name as catName
    FROM
    tb_item i
    LEFT JOIN tb_item_cat c ON i.cid = c.id
    WHERE
    i.status = 1
    order by i.id desc
  </select>
  <select id="getById" parameterType="_long" resultType="com.wdt.ddshop.pojo.vo.TbItemSearchCustom">
    SELECT
    i.id,
    i.title,
    i.sell_point as sellPoint,
    i.price,
    i.image,
    c.name as catName
    FROM
    tb_item i
    LEFT JOIN tb_item_cat c ON i.cid = c.id
    WHERE
    i.id = #{itemId}
  </select>
</mapper>